.user-card-full {
    overflow: hidden;
}

.bg-c-lite-green {
    background: -webkit-gradient(linear,left top,right top,from(#01a9ac),to(#01dbdf));
    background: linear-gradient(to right,#01a9ac,#01dbdf);
}
.card-block {
    padding: 1.25rem;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px!important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-10 {
    margin-bottom: 10px;
}

.f-w-400 {
    font-weight: 400;
}

.m-t-40 {
    margin-top: 40px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.user-profile {
    padding: 20px 0;
}
